// 400, 500
@import url('https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap&subset=cyrillic-ext');
// 400
@import url('https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap&subset=cyrillic-ext');

@import "null";
@import 'variables';

body {
  padding: 30px 0 60px;
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
  background-color: $palette_main_bg;
  color: $text_color;
  line-height: $line_height;
  overflow-x: hidden;
  @media (max-width: 560px) {
    padding: 10px 0 20px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

::selection {
  background-color: $accent;
  color: #fff;
}
