@import url('https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=cyrillic-ext');

@import "null";

// COLORS
$color_dark: #202020;
$color_white: #ffffff;
$color_blue: #4B5EFC;
$color_grey: #E5E5E5;
$color_lightgrey: #F4F4F4;
$color_darkgrey: #C4C4C4;
$color_silver: #bbbbbb;

// PALETTE COLORS
$accent:               $color_blue;
$palette_dark_bg:      $color_grey;
$palette_light_bg:     $color_white;
$palette_text:         $color_dark;
$palette_task_bg:      $color_lightgrey;
$palette_task_actions: $color_darkgrey;
$palette_placeholder:  $color_silver;

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  // background-color: rgba($palette_dark_bg, .1);
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 116%;
  color: $palette_text;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 476px;
  margin: 0 auto;
}

.page {
  padding-top: 50px;
  // .page__container
  &__container {
  }
  // .page__todo
  &__todo {
  }
}

// UI

.checkbox {
  position: relative;
  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    &:checked + .checkbox__text::after {
      transform: scale(1);
    }
  }
  // .checkbox__text
  &__text {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    // Внешний квадрат
    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 21px;
      left: 0;
      top: 0;
      width: 21px;
      height: 21px;
      border: 1px solid $palette_task_actions;
      border-radius: 100%;
      background: #fff;
    }
    // Внутренний квадрат
    &::after {
      content: '';
      position: absolute;
      left: 3px;
      top: 3px;
      width: 15px;
      height: 15px;
      background-color: $palette_task_actions;
      border-radius: 100%;
      transform: scale(0);
      transition: transform .3s ease 0s;
    }
  }
}


// To Do

.todo {
  padding: 25px 12px;
  border-radius: 12px;
  background-color: $palette_light_bg;
  // box-shadow: 5px 6px 19px -14px rgba(34, 60, 80, 0.19);
  // .todo__row
  &__row {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }
  // .todo__prioryty
  &__prioryty {
    margin-bottom: 12px;
    text-transform: uppercase;
    text-align: center;
  }
  // .todo__field
  &__field {
    position: relative;
    margin-bottom: 8px;
    border-radius: 6px;
    border: 1px solid $palette_task_actions;
    overflow: hidden;
    .task__cross {
      position: absolute;
      top: 50%;
      right: 14px;
      transform: translateY(-50%);
    }
  }
  // .todo__input
  &__input {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 41px 12px 12px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    &::placeholder {
      color: $palette_placeholder;
    }
  }
  // .todo__body
  &__body {
  }
  // .todo__task
  &__task {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.task {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  border: 1px solid $palette_task_actions;
  border-radius: 6px;
  transition: background-color .2s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      background-color: rgba($palette_dark_bg, .2);
    }
  }
  // .task__checkbox
  &__checkbox {
    margin-top: 3px;
  }
  // .task__text
  &__text {
    flex: 1 1 auto;
    padding: 4px 18px 0 12px;
    overflow: hidden;
  }
  // .task__cross
  &__cross {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    cursor: pointer;
    span {
      position: relative;
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: $palette_task_actions;
      transition: background-color .2s ease 0s;
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background-color: $palette_task_actions;
        transition: background-color .2s ease 0s;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        span,
        span::before, {
          background-color: rgba(#000, .8);
        }
      }
    }
    // .task__cross_add
    &_add {
      span {
        transform: rotate(90deg);
        &::before {
          transform: rotate(-90deg);
        }
      }
    }
    // .task__cross_close
    &_close {
      margin-top: 4px;
      span {
        transform: rotate(45deg);
        &::before {
          transform: rotate(-90deg);
        }
      }
    }
  }
}
