// COLORS
$color_black: #373636;
$color_white: #fff;
$color_tomato: #FF6347;
$color_mine_shaft: #373636;
$color_yellow: #FFEB3B;

// PALETTE COLORS
$accent:             $color_tomato;
$palette_main_bg:    #3C3B3B;
$palette_text:       $color_black;
$palette_app_bg:     $color_mine_shaft;
$palette_button_bg:  $color_yellow;

// Size
$radius: 6px;
$padding: 25px;