@import url('https://fonts.googleapis.com/css?family=Montserrat:regular&display=swap&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=cyrillic-ext');

@import "null";
@import 'variables';

body {
  font-family: $font_family;
  font-size: $font_size;
  font-weight: $font_weight;
  background-color: $palette_main_bg;
  color: $text_color;
  line-height: $line_height;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  padding: 30px 0 50px;
  overflow: hidden;
}

::selection {
  background-color: #0099FF;
  color: #fff;
}