* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

*:focus,
*:active {
  outline: none;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

ul {
  list-style-type: none;
}

button {
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}
