@import "fonts";
@import "null";

// COLORS
$color_dark: #17171C;
$color_white: #fff;
$color_blue: #4B5EFC;
$color_lightblue: #6c7cfc;
$color_darkgrey: #2E2F38;
$color_grey: #4E505F;

// PALETTE COLORS
$accent:                 $color_blue;
$palette_main_bg:        $color_white;
$palette_calc_bg:        $color_dark;
$palette_text:           $color_white;
$palette_history_text:   $color_white;
$palette_operator:       $color_blue;
$palette_operator_hover: $color_lightblue;
$palette_button:         $color_darkgrey;
$palette_button_hover:   $color_grey;

::selection {
  background-color: $accent;
  color: #fff;
}

body {
  background-color: $palette_main_bg;
  font-family: WorkSans, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: $palette_text;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

// Calculator

.calc {
  max-width: 376px;
  padding: 16px 20px 25px 20px;
  border-radius: 12px;
  background-color: $palette_calc_bg;
  overflow: hidden;
  // .calc__info
  &__info {
    margin-bottom: 16px;
  }
  // .calc__actions
  &__actions {
  }
}

.info-calc {
  text-align: right;
  font-weight: 300;
  // .info-calc__history
  &__history {
    // width: auto;
    white-space: nowrap;
    font-size: 40px;
    color: $palette_history_text;
    opacity: 0.4;
  }
  // .info-calc__result
  &__result {
    display: inline-block;
    font-size: 96px;
    line-height: 1;
  }
}

.actions-calc {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  // .actions-calc__button
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 72px;
    height: 72px;
    padding: 12px;
    border-radius: 24px;
    background-color: $color_darkgrey;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    color: $palette_text;
    cursor: pointer;
    transition: background-color .08s ease-in 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $color_grey;
      }
      &:active {
        background-color: darken($color_grey, 5%);
      }
    }
    // .actions-calc__button_col-2
    &_col-2 {
      grid-area: 1 / 1 / 2 / 3;
      width: auto;
    }
    // .actions-calc__button_col-3
    &_col-3 {
      grid-area: 5 / 1 / 6 / 4;
      width: auto;
    }
    // .actions-calc__button_bg
    &_bg {
      background-color: $accent;
      @media (any-hover: hover) {
        &:hover {
          background-color: $palette_operator_hover;
        }
        &:active {
          background-color: darken($palette_operator_hover, 5%);
        }
      }
    }
  }
}

